
@{
    Layout = null;
}

@model AdminViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> 后台管理  炸天帮:张缺缺作品</title>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.4 -->
    <link href="~/AdminLTE-2.1.1/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="~/AdminLTE-2.1.1/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/AdminLTE-2.1.1/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />

</head>
<body class="skin-blue sidebar-mini">


    <div class="wrapper">

        <header class="main-header">
            <!-- 后台模板名称-->
            <a href="/Home/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>缺</b>商</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>缺</b>缺<b>商</b>城</span>
            </a>
            <!-- 头部导航栏 -->
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">展开/收回</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- 信息-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">1</span>
                            </a>
                            <!-- 信息下拉显示-->
                            <ul class="dropdown-menu">
                                <li class="header">您有一条新消息</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Img/msglogo.png" class="img-circle" alt="缺缺QQ：3393597524" />
                                                </div>
                                                <h4>
                                                    该功能正在制作中！
                                                    <small><i class="fa fa-clock-o"></i> 1 mins</small>
                                                </h4>
                                                <p>缺缺QQ：3393597524 ，出售此项目源码！</p>
                                            </a>
                                        </li><!-- end message -->

                                    </ul>
                                </li>
                                <li class="footer"><a href="#">敬请期待！</a></li>
                            </ul>
                        </li>
                        <!-- 通知-->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">@Model.LogMessages.Count</span>
                            </a>
                            <!-- 通知下拉显示-->
                            <ul class="dropdown-menu">
                                <li class="header">最新动态</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">

                                        @foreach (var item in Model.LogMessages)
                                        {

                                            <li>
                                                <a href="javascript:AlertMsg('@item.Content');">
                                                    <i class="fa fa-envelope-o text-blue"></i> @item.Content  <span style="color:lightsteelblue;font-size:10px">@item.CreateTime.ToShortDateString() @item.CreateTime.ToShortTimeString()</span>
                                                </a>
                                            </li>
                                        }

                                    </ul>
                                </li>
                                <li class="footer"><a href="#">缺缺动态</a></li>
                            </ul>
                        </li>


                        <!-- 用户-->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @if (string.IsNullOrEmpty(Model.UserDto.Image))
                                {
                                    <img src="~/Img/touxiang.jpg" class="user-image" alt="@Model.UserDto.NickName" />

                                }
                                else
                                {
                                    <img src="@Model.UserDto.Image" class="user-image" alt="@Model.UserDto.NickName" />

                                }
                                <span class="hidden-xs">@Model.UserDto.NickName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- 用户图片+名称+邮箱 -->
                                <li class="user-header">
                                    @if (string.IsNullOrEmpty(Model.UserDto.Image))
                                    {
                                        <img src="~/Img/touxiang.jpg" class="img-circle" alt="@Model.UserDto.NickName" />
                                    }
                                    else
                                    {
                                        <img src="@Model.UserDto.Image" class="img-circle" alt="@Model.UserDto.NickName" />
                                    }
                                    <p>
                                        可爱的缺缺们！
                                        <small>欢迎加入炸天帮！</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                @*<li class="user-body">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">修改资料</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">更改密码</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">联系作者</a>
                                        </div>
                                    </li>*@
                                <!-- Menu Footer-->
                                <!-- 按钮事件-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a asp-action="UserInfo" class="btn btn-default btn-flat">个人中心</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="javascript:Logout();" class="btn btn-default btn-flat">注销</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!--设置按钮-->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--侧边栏 + 用户信息：头像+名称-->
        <aside class="main-sidebar">
            <!-- 用户信息：头像+名称-->
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        @if (string.IsNullOrEmpty(Model.UserDto.Image))
                        {
                            <img src="~/Img/touxiang.jpg" class="img-circle" style="height:45px" alt="@Model.UserDto.NickName" />

                        }
                        else
                        {
                            <img src="@Model.UserDto.Image" class="img-circle" style="height:45px" alt="@Model.UserDto.NickName" />

                        }
                    </div>
                    <div class="pull-left info">
                        <p>@Model.UserDto.NickName</p>

                        <a href="#"><i class="fa fa-circle text-success"></i> @Model.UserDto.User_Role.RoleName</a>
                    </div>
                </div>

                <!-- 侧边栏菜单 -->
                <ul class="sidebar-menu">
                    <li class="header">菜单</li>
                    <!--仪表盘-->
                    @if (ViewBag.Active == "Index")
                    {
                        <li class="active   ">
                            <a asp-action="Index">
                                <i class="fa fa-dashboard"></i> <span>仪表盘</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="  treeview">
                            <a asp-action="Index">
                                <i class="fa fa-dashboard"></i> <span>仪表盘</span>
                            </a>
                        </li>
                    }


                    @if (Model.UserDto.User_Role.RoleName == "帮众")
                    {
                        <!--用户中心-->
                        @if (ViewBag.Active == "User")
                        {
                            <li class="active  treeview">
                                <a href="#">
                                    <i class="fa fa-user text-aqua"></i>
                                    <span>个人中心</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu ">
                                    <li><a asp-action="UserInfo"><i class="fa fa-circle-o"></i> 我的资料</a></li>
                                    <li><a asp-action="UserSecurity"><i class="fa fa-circle-o"></i> 安全中心</a></li>
                                    <li><a asp-action="UserOrders"><i class="fa fa-circle-o"></i> 我的订单</a></li>
                                    <li><a href="javascript:Logout();"><i class="fa fa-circle-o"></i>注销</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="  treeview">
                                <a href="#">
                                    <i class="fa fa-user text-aqua"></i>
                                    <span>个人中心</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu ">
                                    <li><a asp-action="UserInfo"><i class="fa fa-circle-o"></i> 我的资料</a></li>
                                    <li><a asp-action="UserSecurity"><i class="fa fa-circle-o"></i> 安全中心</a></li>
                                    <li><a asp-action="UserOrders"><i class="fa fa-circle-o"></i> 我的订单</a></li>
                                    <li><a href="javascript:Logout();"><i class="fa fa-circle-o"></i>注销</a></li>
                                </ul>
                            </li>
                        }

                    }
                    else
                    {
                        <!--用户中心-->
                        @if (ViewBag.Active == "User")
                        {
                            <li class="active  treeview">
                                <a href="#">
                                    <i class="fa fa-user text-aqua"></i>
                                    <span>个人中心</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu ">
                                    <li><a asp-action="UserInfo"><i class="fa fa-circle-o"></i> 我的资料</a></li>
                                    <li><a asp-action="UserSecurity"><i class="fa fa-circle-o"></i> 安全中心</a></li>
                                    <li><a asp-action="UserOrders"><i class="fa fa-circle-o"></i> 我的订单</a></li>
                                    <li><a href="javascript:Logout();"><i class="fa fa-circle-o"></i>注销</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="  treeview">
                                <a href="#">
                                    <i class="fa fa-user text-aqua"></i>
                                    <span>个人中心</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu ">
                                    <li><a asp-action="UserInfo"><i class="fa fa-circle-o"></i> 我的资料</a></li>
                                    <li><a asp-action="UserSecurity"><i class="fa fa-circle-o"></i> 安全中心</a></li>
                                    <li><a asp-action="UserOrders"><i class="fa fa-circle-o"></i> 我的订单</a></li>
                                    <li><a href="javascript:Logout();"><i class="fa fa-circle-o"></i>注销</a></li>
                                </ul>
                            </li>
                        }

                        <!--用户管理-->

                        @if (ViewBag.Active == "UserMagger")
                        {
                            <li class="active">
                                <a asp-action="UserMagger">
                                    <i class="fa fa-users text-green"></i> <span>用户管理</span> <small class="label pull-right bg-green">new</small>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-action="UserMagger">
                                    <i class="fa fa-users text-green"></i> <span>用户管理</span> <small class="label pull-right bg-green">new</small>
                                </a>
                            </li>
                        }

                        @if (ViewBag.Active == "Product")
                        {
                            <li class="active treeview">
                                <a href="#">
                                    <i class="fa fa-th text-blue "></i>
                                    <span>商品</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a asp-action="ProductMagger"><i class="fa fa-circle-o"></i> 所有商品</a></li>
                                    <li><a asp-action="ProductCreate"><i class="fa fa-circle-o"></i> 商品上架</a></li>
                                    <li><a asp-action="ProductImage"><i class="fa fa-circle-o"></i> 商品图片</a></li>
                                    <li><a asp-action="ProductBlog"><i class="fa fa-circle-o "></i> 商品详情</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-th text-blue"></i>
                                    <span>商品管理</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a asp-action="ProductMagger"><i class="fa fa-circle-o"></i> 所有商品</a></li>
                                    <li><a asp-action="ProductCreate"><i class="fa fa-circle-o"></i> 商品上架</a></li>
                                    <li><a asp-action="ProductImage"><i class="fa fa-circle-o"></i> 商品图片</a></li>
                                    <li><a asp-action="ProductBlog"><i class="fa fa-circle-o "></i> 商品详情</a></li>
                                </ul>
                            </li>

                        }

                        @if (ViewBag.Active == "Order")
                        {
                            <li class="active  treeview ">
                                <a href="#">
                                    <i class="fa fa-shopping-cart text-red"></i>
                                    <span>订单管理</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a asp-action="OrderShipments"><i class="fa fa-circle-o"></i> 待发货订单</a></li>
                                    <li><a asp-action="OrderReceiving"><i class="fa fa-circle-o"></i>已收货订单 </a></li>
                                    <li><a asp-action="OrderRefund"><i class="fa fa-circle-o"></i> 待退款订单</a></li>
                                    <li><a asp-action="OrderAll"><i class="fa fa-circle-o"></i> 所有订单</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-shopping-cart text-red"></i>
                                    <span>订单管理</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a asp-action="OrderShipments"><i class="fa fa-circle-o"></i> 待发货订单</a></li>
                                    <li><a asp-action="OrderReceiving"><i class="fa fa-circle-o"></i>已收货订单 </a></li>
                                    <li><a asp-action="OrderRefund"><i class="fa fa-circle-o"></i> 待退款订单</a></li>
                                    <li><a asp-action="OrderAll"><i class="fa fa-circle-o"></i> 所有订单</a></li>
                                </ul>
                            </li>
                        }


                    }
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>关于作者</span>
                        </a>
                    </li>
                    <li class="header">关于</li>
                    <li><a href="https://juejin.im/user/5d6a5a57e51d453bb13b666b/posts" target="_blank"><i class="fa fa-circle-o text-red"></i> <span>博客</span></a></li>
                    <li><a href="https://github.com/ZhangQueque" target="_blank"><i class="fa fa-circle-o text-yellow"></i> <span>GitHub</span></a></li>
                    <li><a href="http://wpa.qq.com/msgrd?v=3&uin=3393597524&site=qq&menu=yes" target="_blank"><i class="fa fa-circle-o text-aqua"></i> <span>联系作者</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- 页面标题 -->
        <!-- 内容区域 -->
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    安全中心
                    <small> @Model.UserDto.NickName</small>
                </h1>
            </section>
            <div class="box box-default" style="margin-top:16px">
                <div class="box-header with-border">
                    <i class="fa fa-warning"></i>
                    <h3 class="box-title">修改密码</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> 警告!</h4>
                        请确保的自己的密码安全！如有泄露请及时修改！
                    </div>
                    <form role="form" class="col-lg-4">
                        <!-- input states -->
                        <div class="form-group has-success">
                            <label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> 请输入原密码</label>
                            <input type="text" class="form-control" id="OldPassword" placeholder="Enter ...">
                        </div>
                        <div class="form-group has-warning">
                            <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> 请输入新密码</label>
                            <input type="password" class="form-control" id="NewPassword" placeholder="Enter ...">
                        </div>
                        <div class="form-group has-warning">
                            <label class="control-label" for="inputError"><i class="fa fa-bell-o"></i>请再次输入密码</label>
                            <input type="password" class="form-control" id="NewPassword2" placeholder="Enter ...">
                        </div>
                        <div class="form-group">
                            <button type="button" onclick="PasswordSubmit()" class="btn btn-primary">修改</button>
                        </div>
                    </form>
                </div><!-- /.box-body -->

            </div>

            <div class="box box-default" style="margin-top:16px">
                <div class="box-header with-border">
                    <i class="fa fa-warning"></i>
                    <h3 class="box-title">手机绑定</h3>
                </div><!-- /.box-header -->

                <div class="box-body">
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-warning"></i> 警告!</h4>
                        绑定手机号，多一份安全！
                    </div>
                    @if (string.IsNullOrEmpty(Model.UserDto.Phone))
                    {
                        <span style="color:#001F3F">目前还没有绑定手机号！ <a asp-action="UserInfo" class="btn btn-primary">绑定一个？</a></span>
                    }
                    else
                    {
                        <span>
                            当前绑定手机号是：<span style="color:#001F3F"> @Model.UserDto.Phone </span> &nbsp;   <button class="btn btn-danger" onclick="UpdatePhone()">取消绑定</button>
                        </span>
                    }
                </div><!-- /.box-body -->
            </div>


            <div class="box box-default" style="margin-top:16px">
                <div class="box-header with-border">
                    <i class="fa fa-warning"></i>
                    <h3 class="box-title">登录验证</h3>
                </div><!-- /.box-header -->

                <div class="box-body">

                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>	<i class="icon fa fa-check"></i> 警告!</h4>
                        开启双重登录验证，此功能还在开发！敬请期待！

                    </div>
                </div><!-- /.box-body -->
            </div>
        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy; 2020 <a href="http://beian.miit.gov.cn">晋ICP备20002472号-1</a>.</strong> 缺缺作品
        </footer>


        <!-- 设置，修改demo.js -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane" id="control-sidebar-home-tab">
                </div>
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
            </div>
        </aside>
        <div class='control-sidebar-bg'></div>
    </div><!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- jQuery UI 1.11.2 -->
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <!-- Bootstrap 3.3.2 JS -->
    <script src="~/AdminLTE-2.1.1/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-2.1.1/dist/js/app.min.js" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE-2.1.1/dist/js/demo.js" type="text/javascript"></script>
    <script src="~/canvas-nest/canvas-nest.js" color="49,48,76" opacity='0.9' zIndex="1" count="36"></script>

    <script src="~/lib/jquery.cookie.js"></script>
    <script src="~/layer/layer.js"></script>
    <script src="~/js/baseurl.js"></script>
    <script src="~/js/admin.js"></script>
    <script src="~/js/adminUserSecurity.js"></script>
</body>

</html>
